ul.navbar-nav {
  margin-left: auto;
}

section.section-1 {
  height: 75vh;
  display: flex;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1.heading-1 {
  color: #FFF;
  font-family: Roboto;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px; /* 140.625% */
  text-transform: capitalize;
}

p.text-block-1 {
  color: #FFF;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 29.756px; /* 123.983% */
  width: 471.308px;
}

button.button-1 {
  width: 225.459px;
  height: 65.234px;
  /* flex-shrink: 0; */
  background: #4675c3;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 18.311px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  border: 0;
}

img.img-2 {
  height: 452.187px;
  flex-shrink: 0;
  width: 100%;
}

h2.heading-2 {
  color: #757575;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px; /* 250% */
  letter-spacing: 0.369px;
  text-transform: capitalize;
}

p.text-block-2 {
  color: #90A3B4;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 125% */
  letter-spacing: 0.369px;
}

a.link {
  color: #4675C3;
  font-family: DM Sans;
  font-size: 19.677px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

img.img-1 {
  padding-left: 13px;
}


section.section-3.py-5 {
  background: #EEF4F5;
}

h2.heading-3 {
  color: #757575;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 156.25% */
  letter-spacing: 0.369px;
  text-transform: capitalize;
}

p.text-block-2.text-center {
  color: #90A3B4;
  text-align: center;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 125% */
  letter-spacing: 0.369px;
}

p.text-block-2.text-center {
  width: 1030px;
}

.card-body {
  border-radius: 0px 0px 12.336px 12.336px;
  background: #FFF;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.08);
  padding: 16px 18px;
}

.card-img, .card-img-bottom {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

p.card-texts {
  color: #90A3B4;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px; /* 125% */
  letter-spacing: 0.369px;
  padding: 0 0 8px 0px;
}

h3.card-title {
  color: #757575;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 156.25% */
  letter-spacing: 0.369px;
  text-transform: capitalize;
  padding-bottom: 13px;
}

img.card-img {
  border-radius: 12.34px 12.34px 0px 0px;
  padding-bottom: 18px;
  background: white;
}

p.card-title {
  color: #757575;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px; /* 156.25% */
  letter-spacing: 0.369px;
  text-transform: capitalize;
  padding-top: 30px;
}

.d-flex.div-block-2> .d-flex {

  width: 50%;
  align-items: center;
  gap: 10px;
}

.d-flex.div-block-2 {
  flex-wrap: wrap;
  gap: 17px 0;
  justify-content: center;
  align-items: center;
  padding: 43px 0;
}

p.text-block-3 {
  color: #90A3B4;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 125% */
  letter-spacing: 0.369px;
  padding-left: 13px;
  margin: 0;
  padding: 18px 0;
}

p.text-block-2.text-center {
  /* background: aqua; */
  padding: 0;
  width: 76%;
  margin: auto;
  padding-bottom: 50px;
}
h4.heading-4 {
  color: #7EA4D8;
  font-family: DM Sans;
  font-size: 18.615px;
  font-style: normal;
  font-weight: 700;
  line-height: 27.221px; /* 144.444% */
  letter-spacing: 0.18px;
}
section.section-2.pt-5 {
  padding-bottom: 54px;
}
h3.heading-5 {
  color: #757575;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 41px; /* 156.25% */
  letter-spacing: 0.369px;
  text-transform: capitalize;
  width: 100%;
}

.d-flex.star-flex {
  align-items: center;
  gap: 4px;
  padding-left: 14px;
}

p.text-block-4 {
  color: #90A3B4;
  font-family: Poppins;
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
  line-height: 26px; /* 125% */
  letter-spacing: 0.369px;
  padding-left: 60px;
}

.d-flex.div-block-1 {
  align-items: center;
  gap: 16px;
  padding-left: 57px;
}

img.img-2 {}

h4.heading-5 {
  color: #4675C3;
  font-family: DM Sans;
  font-size: 22.586px;
  font-style: normal;
  font-weight: 700;
  line-height: 27.103px; /* 120% */
  letter-spacing: 0.226px;
}

p.text-block-5 {
  margin: 0;
  color: #90A3B4;
  font-family: DM Sans;
  font-size: 18.069px;
  font-style: normal;
  font-weight: 400;
  line-height: 31.621px; /* 175% */
}

h4.heading-6 {
  color: #FFF;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 156.25% */
  letter-spacing: 0.369px;
  text-transform: capitalize;
}

h6.heading-7 {
  color: #FFF;
  font-family: DM Sans;
  font-size: 15.836px;
  font-style: normal;
  font-weight: 500;
  line-height: 36.197px; /* 228.571% */
  letter-spacing: 0.339px;
}

a {}

.d-flex.div-block-3 {
  align-items: center;
  gap: 20px;
}

.d-flex.div-block-3 a {
  text-decoration: none;
  color: #FFF;
  font-family: DM Sans;
  font-size: 15.836px;
  font-style: normal;
  font-weight: 500;
  line-height: 36.197px; /* 228.571% */
  letter-spacing: 0.339px;
  text-decoration-line: underline;
}

.col-md-6.d-flex {
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

button.button-2 {
  width: 375px;
  height: 65px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #4675C3;
  border: 0;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 18.311px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.container.bg-color {
  /* height: 407.213px; */
  /* flex-shrink: 0; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 76px 83px;
  background-position: center;
  background-size: cover;
  border-radius: 9.049px;
  background: #FFB571;
  background-repeat: no-repeat;
}

footer.footer {
  background: #4675C3;
  padding: 78px 0 9px 0px;
}

p.text-block-6 {
  color: #FFF;
  font-family: DM Sans;
  font-size: 21.054px;
  font-style: normal;
  font-weight: 400;
  line-height: 36.844px; /* 175% */
}

.d-flex.iconFlex {
  gap: 17px;
}

h3.heading-8 {
  color: #FFF;
  font-family: DM Sans;
  font-size: 23.686px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 18px;
}

a.footer-Link {
  color: #FFF;
  font-family: DM Sans;
  font-size: 21.054px;
  font-style: normal;
  /* font-weight: 400; */
  line-height: normal;
  padding-bottom: 23px;
  margin-bottom: 0;
  display: block;
  text-decoration: none;
}

hr {
  margin: 3rem 0;
  color: inherit;
  border: 0;
  border-top: 3px #8caada solid;
  opacity: .25;
  background: aqua;
}

p.footerCopyRight {
  color: #FFF;
  text-align: center;
  font-family: DM Sans;
  font-size: 21.054px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

a.nav-link.button-1 {
  background: #4675c3;
  padding: 13px  0;
  width: 87px;
  text-align: center;
  width: 125px;
  height: 50px;
  flex-shrink: 0;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 18.311px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  margin-left: 38px;
}
li.nav-item {
  padding: 0 19px;
}


@media only screen and (min-width: 320px) and (max-width: 480px) {
  ul.navbar-nav {
      margin-left: auto;
  }
  
  section.section-1 {
      height: 50vh;
      display: flex;
      align-items: center;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }
  
  h1.heading-1 {
      color: #FFF;
      font-family: Roboto;
      font-size: 27px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px; /* 140.625% */
      text-transform: capitalize;
  }
  
  p.text-block-1 {
      color: #FFF;
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 18.756px; /* 123.983% */
      width: 100%;
      padding: 10px 0 !important;
  }
  
  button.button-1 {
      width: 151.459px;
      height: 38.234px;
      /* flex-shrink: 0; */
      background: #4675c3;
      color: #FFF;
      text-align: center;
      font-family: Roboto;
      font-size: 14.311px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: capitalize;
      border: 0;
      margin-bottom: 18px;
  }
  
  img.img-2 {
      height: 100%;
      flex-shrink: 0;
      width: 101%;
  }
  
  h2.heading-2 {
      color: #757575;
      font-family: Poppins;
      font-size: 25px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px; /* 250% */
      letter-spacing: 0.369px;
      text-transform: capitalize;
  }
  
  p.text-block-2 {
      color: #90A3B4;
      font-family: Poppins;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 25px; /* 125% */
      letter-spacing: 0.369px;
  }
  
  a.link {
      color: #4675C3;
      font-family: DM Sans;
      font-size: 13.677px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-decoration: none;
  }
  
  img.img-1 {
      padding-left: 6px;
      width: 27px;
  }
  
  
  section.section-3.py-5 {
      background: #EEF4F5;
      padding: 17px 0 !important;
  }
  
  h2.heading-3 {
      color: #757575;
      text-align: center;
      font-family: Poppins;
      font-size: 17px;
      font-style: normal;
      font-weight: 400;
      line-height: 27px; /* 156.25% */
      letter-spacing: 0.369px;
      text-transform: capitalize;
  }
  
  p.text-block-2.text-center {
      color: #90A3B4;
      text-align: center;
      font-family: Poppins;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 125% */
      letter-spacing: 0.369px;
  }
  
  p.text-block-2.text-center {
      width: 1030px;
  }
  
  .card-body {
      border-radius: 0px 0px 12.336px 12.336px;
      background: #FFF;
      box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.08);
      padding: 16px 18px;
  }
  
  .card-img, .card-img-bottom {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
  }
  
  p.card-texts {
      color: #90A3B4;
      font-family: Poppins;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 17px; /* 125% */
      letter-spacing: 0.369px;
      padding: 0 0 8px 0px;
  }
  
  h3.card-title {
      color: #757575;
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 23px; /* 156.25% */
      letter-spacing: 0.369px;
      text-transform: capitalize;
      padding-bottom: 13px;
  }
  
  img.card-img {
      border-radius: 12.34px 12.34px 0px 0px;
      padding-bottom: 18px;
      background: white;
  }
  
  p.card-title {
      color: #757575;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 25px; /* 156.25% */
      letter-spacing: 0.369px;
      text-transform: capitalize;
      padding-top: 30px;
  }
  
  .d-flex.div-block-2> .d-flex {
   
  width: 100%;
   
  align-items: center;
   
  gap: 10px;
  }
  
  .d-flex.div-block-2 {
      flex-wrap: wrap;
      gap: 0px 0;
      justify-content: center;
      align-items: center;
      padding: 0 0;
      padding-top: 20px;
  }
  
  p.text-block-3 {
      color: #90A3B4;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 125% */
      letter-spacing: 0.369px;
      padding-left: 13px;
      margin: 0;
      padding: 13px 0;
  }
  
  p.text-block-2.text-center {
      /* background: aqua; */
      padding: 0;
      width: 100%;
      margin: auto;
      padding-bottom: 44px;
  }
  h4.heading-4 {
      color: #7EA4D8;
      font-family: DM Sans;
      font-size: 16.615px;
      font-style: normal;
      font-weight: 700;
      line-height: 24.221px; /* 144.444% */
      letter-spacing: 0.18px;
      margin-top: 20px;
  }
  section.section-2.pt-5 {
      padding-bottom: 54px;
  }
  h3.heading-5 {
      color: #757575;
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px; /* 156.25% */
      letter-spacing: 0.369px;
      text-transform: capitalize;
      margin-bottom: 18px;
  }
  
  .d-flex.star-flex {
      align-items: center;
      gap: 4px;
      padding-left: 12px;
  }
  
  p.text-block-4 {
      color: #90A3B4;
      font-family: Poppins;
      font-size: 14px;
      font-style: italic;
      font-weight: 300;
      line-height: 18px; /* 125% */
      letter-spacing: 0.369px;
      padding-left: 60px;
  }
  
  .d-flex.div-block-1 {
      align-items: center;
      gap: 16px;
      padding-left: 57px;
  }
  
  img.img-2 {}
  
  h4.heading-5 {
      color: #4675C3;
      font-family: DM Sans;
      font-size: 17.586px;
      font-style: normal;
      font-weight: 700;
      line-height: 16.103px; /* 120% */
      letter-spacing: 0.226px;
  }
  
  p.text-block-5 {
      margin: 0;
      color: #90A3B4;
      font-family: DM Sans;
      font-size: 13.069px;
      font-style: normal;
      font-weight: 400;
      line-height: 19.621px; /* 175% */
  }
  
  h4.heading-6 {
      color: #FFF;
      font-family: Poppins;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px; /* 156.25% */
      letter-spacing: 0.369px;
      text-transform: capitalize;
  }
  
  h6.heading-7 {
      color: #FFF;
      font-family: DM Sans;
      font-size: 13.836px;
      font-style: normal;
      font-weight: 500;
      line-height: 36.197px; /* 228.571% */
      letter-spacing: 0.339px;
  }
  
  a {}
  
  .d-flex.div-block-3 {
      align-items: center;
      gap: 18px;
      margin-bottom: 17px;
  }
  
  .d-flex.div-block-3 a {
      text-decoration: none;
      color: #FFF;
      font-family: DM Sans;
      font-size: 15.836px;
      font-style: normal;
      font-weight: 500;
      line-height: 36.197px; /* 228.571% */
      letter-spacing: 0.339px;
      text-decoration-line: underline;
  }
  
  .col-md-6.d-flex {
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
  }
  
  button.button-2 {
      width: 238px;
      height: 46px;
      flex-shrink: 0;
      border-radius: 8px;
      background: #4675C3;
      border: 0;
      color: #FFF;
      text-align: center;
      font-family: Roboto;
      font-size: 12.311px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: capitalize;
      margin-bottom: 11px;
  }
  
  .container.bg-color {
      /* height: 407.213px; */
      /* flex-shrink: 0; */
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 58px 17px;
      background-position: center;
      background-size: cover;
      border-radius: 9.049px;
      background: #FFB571;
      background-repeat: no-repeat;
  }
  
  footer.footer {
      background: #4675C3;
      padding: 35px 0 9px 0px;
  }
  
  p.text-block-6 {
      color: #FFF;
      font-family: DM Sans;
      font-size: 16.054px;
      font-style: normal;
      font-weight: 400;
      line-height: 24.844px; /* 175% */
  }
  
  .d-flex.iconFlex {
      gap: 17px;
      margin-bottom: 15px;
  }
  
  h3.heading-8 {
      color: #FFF;
      font-family: DM Sans;
      font-size: 20.686px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding-bottom: 18px;
  }
  
  a.footer-Link {
      color: #FFF;
      font-family: DM Sans;
      font-size: 16.054px;
      font-style: normal;
      /* font-weight: 400; */
      line-height: normal;
      padding-bottom: 11px;
      margin-bottom: 0;
      display: block;
      text-decoration: none;
  }
  
  hr {
      margin: 3rem 0;
      color: inherit;
      border: 0;
      border-top: 3px #8caada solid;
      opacity: .25;
      background: aqua;
  }
  
  p.footerCopyRight {
      color: #FFF;
      text-align: center;
      font-family: DM Sans;
      font-size: 16.054px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
  }
  a.nav-link.button-1 {
      background: #4675c3;
      padding: 13px  0;
      width: 87px;
      text-align: center;
      width: 125px;
      height: 50px;
      flex-shrink: 0;
      color: #FFF;
      text-align: center;
      font-family: Roboto;
      font-size: 18.311px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: capitalize;
      margin-left: 38px;
  }
  li.nav-item {
      padding: 0 19px;
  }

  a.navbar-brand >img {
      width: 151px;
  }
  
  .card {
      margin-bottom: 17px;
  }
  
  section.section-4.py-5 {
      padding: 15px 0 !important;
  }
  
  section.section-5.py-5 {
      padding: 14px 11px !important;
  }
  
  a.logo > img {
      width: 148px;
      margin-bottom: 14px;
  }
  
  h3.heading-5 {}
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .py-5 {
      padding-top: 1rem!important;
      padding-bottom: 1rem!important;
  }
  p.text-block-1 {
      color: #FFF;
      font-family: Roboto;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20.756px;
      width: 60%;
  }
  button.button-1 {
      width: 191.459px;
      height: 43.234px;
      /* flex-shrink: 0; */
      background: #4675c3;
      color: #FFF;
      text-align: center;
      font-family: Roboto;
      font-size: 15.311px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: capitalize;
      border: 0;
  }
  img.img-2 {
      height: 100%;
      flex-shrink: 0;
      width: 100%;
  }p.text-block-2 {
      color: #90A3B4;
      font-family: Poppins;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.369px;
  }
  h2.heading-2 {
      color: #757575;
      font-family: Poppins;
      font-size: 23px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 0.369px;
      text-transform: capitalize;
  }
  a.link {
      color: #4675C3;
      font-family: DM Sans;
      font-size: 16.677px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-decoration: none;
  }
  h2.heading-3 {
      color: #757575;
      text-align: center;
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 0.369px;
      text-transform: capitalize;
  }
  p.text-block-2.text-center {
      /* background: aqua; */
      padding: 0;
      width: 90%;
      margin: auto;
      padding-bottom: 39px;
  }
  p.text-block-2.text-center {
      color: #90A3B4;
      text-align: center;
      font-family: Poppins;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 19px;
      letter-spacing: 0.369px;
  }.card {
      margin-bottom: 27px;
  }
  h3.card-title {
      color: #757575;
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 0.369px;
      text-transform: capitalize;
      padding-bottom: 13px;
  }
  p.card-texts {
      color: #90A3B4;
      font-family: Poppins;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.369px;
      padding: 0 0 8px 0px;
  }
  p.card-title {
      color: #757575;
      font-family: Poppins;
      font-size: 19px;
      font-style: normal;
      font-weight: 400;
      line-height: 31px;
      letter-spacing: 0.369px;
      text-transform: capitalize;
      padding-top: 27px;
  }
  p.text-block-3 {
      color: #90A3B4;
      font-family: Poppins;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.369px;
      padding-left: 13px;
      margin: 0;
      padding: 14px 0;
  }
  

h3.heading-5 {
  color: #757575;
  font-family: Poppins;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.369px;
  text-transform: capitalize;
  width: 100%;
}

p.text-block-4 {
  color: #90A3B4;
  font-family: Poppins;
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 0.369px;
  padding-left: 60px;
}
.container.bg-color {
  /* height: 407.213px; */
  /* flex-shrink: 0; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px 30px;
  background-position: center;
  background-size: cover;
  border-radius: 9.049px;
  background: #FFB571;
  background-repeat: no-repeat;
}

button.button-1 {
  margin-bottom: 1rem;
}
h4.heading-6 {
  color: #FFF;
  font-family: Poppins;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0.369px;
  text-transform: capitalize;
}
section.section-5.py-5 {
  padding: 25px;
}
button.button-2 {
  width: 375px;
  height: 65px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #4675C3;
  border: 0;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 18.311px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  margin: 1rem 0;
}p.text-block-6 {
  color: #FFF;
  font-family: DM Sans;
  font-size: 18.054px;
  font-style: normal;
  font-weight: 400;
  line-height: 30.844px;
}.col-md-2.col-2-footer {
  padding-top: 20px;
}a.footer-Link {
  color: #FFF;
  font-family: DM Sans;
  font-size: 18.054px;
  font-style: normal;
  /* font-weight: 400; */
  line-height: normal;
  padding-bottom: 13px;
  margin-bottom: 0;
  display: block;
  text-decoration: none;
}.col-md-2.col-2-footer {
  padding-top: 20px;
  width: 50%;
}
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .container, .container-md, .container-sm {
      max-width: 90%;
  }
  h1.heading-1 {
      color: #FFF;
      font-family: Roboto;
      font-size: 29px;
      font-style: normal;
      font-weight: 400;
      line-height: 45px;
      text-transform: capitalize;
  }
  p.text-block-1 {
      color: #FFF;
      font-family: Roboto;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 26.756px;
      width: 429.308px;
  }
  .py-5 {
      padding-top: 1rem!important;
      padding-bottom: 2rem!important;
  }
  button.button-1 {
      width: 208.459px;
      height: 45.234px;
      /* flex-shrink: 0; */
      background: #4675c3;
      color: #FFF;
      text-align: center;
      font-family: Roboto;
      font-size: 18.311px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: capitalize;
      border: 0;
  }
  img.img-2 {
      height: 358.187px;
      flex-shrink: 0;
      width: 100%;
  }
  p.text-block-2 {
      color: #90A3B4;
      font-family: Poppins;
      font-size: 17px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0.369px;
  }
  h2.heading-2 {
      color: #757575;
      font-family: Poppins;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 29px;
      letter-spacing: 0.369px;
      text-transform: capitalize;
  }
  a.link {
      color: #4675C3;
      font-family: DM Sans;
      font-size: 15.677px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-decoration: none;
  }
  section.section-2.pt-5 {
      padding-bottom: 28px;
  }
  h2.heading-3 {
      color: #757575;
      text-align: center;
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 29px;
      letter-spacing: 0.369px;
      text-transform: capitalize;
  }
  p.text-block-2.text-center {
      /* background: aqua; */
      padding: 0;
      width: 72%;
      margin: auto;
      padding-bottom: 39px;
  }
  h3.card-title {
      color: #757575;
      font-family: Poppins;
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: 27px;
      letter-spacing: 0.369px;
      text-transform: capitalize;
      padding-bottom: 13px;
  }
  p.card-texts {
      color: #90A3B4;
      font-family: Poppins;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 23px;
      letter-spacing: 0.369px;
      padding: 0 0 8px 0px;
  }

  p.card-title {
      color: #757575;
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0.369px;
      text-transform: capitalize;
      padding-top: 30px;
  }
  p.text-block-3 {
      color: #90A3B4;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0.369px;
      padding-left: 13px;
      margin: 0;
      padding: 10px 0;
  }
  h3.heading-5 {
      color: #757575;
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 33px;
      letter-spacing: 0.369px;
      text-transform: capitalize;
      width: 100%;
  }
  p.text-block-4 {
      color: #90A3B4;
      font-family: Poppins;
      font-size: 18px;
      font-style: italic;
      font-weight: 300;
      line-height: 23px;
      letter-spacing: 0.369px;
      padding-left: 60px;
  }
  p.text-block-5 {
      margin: 0;
      color: #90A3B4;
      font-family: DM Sans;
      font-size: 16.069px;
      font-style: normal;
      font-weight: 400;
      line-height: 10.621px;
  }
  h4.heading-6 {
      color: #FFF;
      font-family: Poppins;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: 0.369px;
      text-transform: capitalize;
  }
  .container.bg-color {
      /* height: 407.213px; */
      /* flex-shrink: 0; */
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 65px 40px;
      background-position: center;
      background-size: cover;
      border-radius: 9.049px;
      background: #FFB571;
      background-repeat: no-repeat;
  }
  button.button-2 {
      width: 326px;
      height: 45px;
      flex-shrink: 0;
      border-radius: 8px;
      background: #4675C3;
      border: 0;
      color: #FFF;
      text-align: center;
      font-family: Roboto;
      font-size: 16.311px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: capitalize;
  }
  a.logo >img {
      width: 75%;
      padding-bottom: 15px;
  }
  p.text-block-6 {
      color: #FFF;
      font-family: DM Sans;
      font-size: 16.054px;
      font-style: normal;
      font-weight: 400;
      line-height: 20.844px;
  }
  a.footer-Link {
      color: #FFF;
      font-family: DM Sans;
      font-size: 17.054px;
      font-style: normal;
      /* font-weight: 400; */
      line-height: normal;
      padding-bottom: 15px;
      margin-bottom: 0;
      display: block;
      text-decoration: none;
  }
  p.footerCopyRight {
      color: #FFF;
      text-align: center;
      font-family: DM Sans;
      font-size: 15.054px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px){
  p.text-block-1 {
      color: #FFF;
      font-family: Roboto;
      font-size: 21px;
      font-style: normal;
      font-weight: 400;
      line-height: 29.756px;
      width: 446.308px;
  }h2.heading-2 {
      color: #757575;
      font-family: Poppins;
      font-size: 26px;
      font-style: normal;
      font-weight: 400;
      line-height: 34px;
      letter-spacing: 0.369px;
      text-transform: capitalize;
  }a.link {
      color: #4675C3;
      font-family: DM Sans;
      font-size: 17.677px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-decoration: none;
  }a.footer-Link {
      color: #FFF;
      font-family: DM Sans;
      font-size: 18.054px;
      font-style: normal;
      /* font-weight: 400; */
      line-height: normal;
      padding-bottom: 21px;
      margin-bottom: 0;
      display: block;
      text-decoration: none;
  }a.logo img {
      width: 61%;
  }
  .py-5 {
      padding-top: 2rem!important;
      padding-bottom: 2rem!important;
  }img.img-2 {
      height: 100%;
      flex-shrink: 0;
      width: 100%;
  }p.text-block-2 {
      color: #90A3B4;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.369px;
  }p.text-block-6 {
      color: #FFF;
      font-family: DM Sans;
      font-size: 17.054px;
      font-style: normal;
      font-weight: 400;
      line-height: 25.844px;
  }
  
a.footer-Link {
  color: #FFF;
  font-family: DM Sans;
  font-size: 16.054px;
  font-style: normal;
  /* font-weight: 400; */
  line-height: normal;
  padding-bottom: 12px;
  margin-bottom: 0;
  display: block;
  text-decoration: none;
}
p.footerCopyRight {
  color: #FFF;
  text-align: center;
  font-family: DM Sans;
  font-size: 18.054px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
  button.button-1 {
      width: 202.459px;
      height: 46.234px;
      /* flex-shrink: 0; */
      background: #4675c3;
      color: #FFF;
      text-align: center;
      font-family: Roboto;
      font-size: 16.311px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: capitalize;
      border: 0;
  }
}